{% load static %}
<style>
.actives:hover{
  background-color: rgba(13, 13, 13, 0.293);  
}

  
</style>

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Online Notes Shering</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'admin/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'admin/vendors/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <link  rel="stylesheet" href="{% static 'css/popup_style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'admin/images/notes.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-color: #181824;">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="#"><h3  style="font-family: Algerian ;color: aliceblue ">ONLINE NOTES SHERING</h1></a>
          <a class="navbar-brand brand-logo-mini" href="#"><img src="{% static 'admin/images/notes.png' %}" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item actives d-none d-md-block">
              <a class="nav-link" href="{% url 'logout' %}" style="color: aliceblue;">
                <span class="icon-bg"><i class="mdi mdi-logout menu-icon"></i></span>
                <span class="menu-title">Log Out</span>
              </a>              
            </li>              
          </ul>
            
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper" >
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item sidebar-user-actions">
                <div class="user-details">
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <div class="d-flex align-items-center">
                        <div class="sidebar-profile-img">
                          <img  style="width: 30px;" src="{% static 'admin/images/faces/face29.png' %}" alt="image">
                        </div>
                        <div class="sidebar-profile-text">
                          <p class="mb-1 "style="text-transform:capitalize"> {{request.user.username}} </p>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </li>
            <li class="nav-item nav-category">Main</li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_home' %}">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>        
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
                <span class="menu-title"> Notes</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link " href="{% url 'panding_notes' %}"><i class="mdi mdi-eye px-2"></i> Pending &ensp;&ensp; {{p}}</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'accepted_notes' %}"><i class="mdi mdi-check-circle px-2"></i> Accepted &ensp; {{a}} </a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'rejected_notes' %}"><i class="mdi mdi-close-circle px-2"></i> Rejected &ensp;&ensp; {{r}} </a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'all_notes' %}"><i class="mdi mdi-clipboard-text px-2"></i> All Notes &ensp; {{all}} </a></li>
                </ul>
              </div>
            </li>          
            <li class="nav-item">
              <a class="nav-link" href="{% url 'view_users' %}">
                <span class="icon-bg"><i class="mdi mdi-contacts menu-icon"></i></span>
                <span class="menu-title">View User</span>
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">
                <span class="icon-bg"><i class="mdi mdi-logout menu-icon"></i></span>
                <span class="menu-title">Log Out</span>
              </a>
            </li>                        
            
          </ul>
        </nav>


          {% block admin %}


          {% endblock %}

 <!-- partial:partials/_footer.html -->

  <!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'admin/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'admin/vendors/jquery-circle-progress/js/circle-progress.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'admin/js/off-canvas.js' %}"></script>
<script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'admin/js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="{% static 'admin/js/dashboard.js' %}"></script>
<!-- End custom js for this page -->
</body>
</html>