{% extends 'user_navigation.html' %}

{% load static %}

{% block user %}

<style>            
    /** my css **/
    .card {
    margin-top: 30px;
    width: 600px;
    padding: 20px; 
    border: groove  rgba(235, 118, 118, 0.718) 3px;           
    }
    #all{
    margin-top: 100px;
    }
    .img{
    padding: 10px; 
    height: 550px; 
    width: 470px;
    }
    #one{
    font-family: Bell Mt;
    }

    b{
    font-family: Copperplate Gothic;
    }

    #abt{
    background-color: rgba(216, 13, 13, 0.812);
    font-family:Felix Titling;
    }

    #abt:hover{
    background-color: #0e0c0cc8;
    }
              

    @media (max-width: 991px) {
    #all{
      
      position: relative;
      margin-top: 10px;
      float: right;
    }
    .img{
      margin-top: 50px;
      position: relative;
      margin-left: 120px ;
      float: left;
      height: 125px; 
      width: 125px;
      border-radius: 5000px;
    }
    .card{ 
      margin-top: 0px;             
      position: relative;
      border: groove 2px;
      float: left;
      margin-left: 10px;
      max-width: 350px;
      margin-bottom: 30px;              
    }
    #one{
    
      font-family: Bell Mt;
    }          
    
    
    }      
    
</style> 

 
<div class="container" id="all" >          
    <div class="row">
      <div class="col-sm-5" >                         
          <img class="img" src="{% static 'images/password1 (4).jpg' %}">            
      </div>
  
    <div class="col-sm-6">  
        <div class="card shadow">
            <h1 style="text-align: center; font-family: Castellar;border-top: groove 2px rgba(254, 1, 1, 0.663); border-bottom: groove 2px rgba(254, 1, 1, 0.663);  border-radius: 50px; color: #100101d6;">Change Password</h1>
            <div class="card-body">
                <form method="post">  
                    {% csrf_token %}       
                    <div class="row">                
                        <div class="col-md-6">
                            <b>Old Password &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;: </b>
                        </div>              
                    </div>            
                    <div class="row">             
                        <div class="col-md-12" id="one" style="text-transform: capitalize ; margin-top: 10px;">
                            <input type="password" name="o_pass" class="form-control" placeholder="Enter Old Password" required>
                        </div>
                    </div>
                        <br>
                        <div class="row">                
                            <div class="col-md-6">
                            <b>New Password &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;: </b>
                            </div>              
                        </div>            
                        <div class="row">             
                        <div class="col-md-12" id="one" style="text-transform: capitalize ; margin-top: 10px;">
                            <input type="password" name="n_pass" class="form-control" placeholder="Enter New Password" required>
                        </div>
                        </div>
                        <br>       
                        <div class="row">                
                            <div class="col-md-6">
                            <b>Confrim Password &ensp;&ensp;&ensp;&ensp;: </b>
                            </div>              
                        </div>            
                        <div class="row">             
                        <div class="col-md-12" id="one" style="text-transform: capitalize ; margin-top: 10px;">
                            <input type="password" name="c_pass" class="form-control" placeholder="Confirmed Password" required>
                        </div>
                        </div>                                 
                        <center>
                            <input type="submit" id="abt" class="btn btn-primary mt-4" value="Submit">
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% if error == "no" %}
  
<div class="popup popup--icon -success js_success-popup popup--visible">
    <div class="popup__background"></div>
    <div class="popup__content">
      <h3 class="popup__content__title">
        Success 
      </h1>
      <p>Password Change Successfully</p>
      <p>
        <a href="{% url 'logout' %}"><button class="button button--success" data-for="js_error-popup">OK</button></a>
      </p>
    </div>
  </div>  

{% endif %}

{% if error == "yes" %}

<div class="popup popup--icon -error js_error-popup popup--visible" >
    <div class="popup__background"></div>
    <div class="popup__content">
      <h2 class="popup__content__title">
        Error 
      </h2>
      <p><h5>Incorrect password combination</h5></p>
      <p style="margin-top: 10px;">
        <a href="{% url 'change_password' %}"><button class="button button--error" data-for="js_error-popup">Close</button></a>
      </p>
    </div>
</div>

{% endif %}

{% endblock %}